<!--{% extends 'customer/customer_base_.html' %}-->
<!--{% load crispy_forms_tags %}-->
<!--{% block content %}-->
<!--<div class="col-md-6 grid-margin stretch-card">-->
<!--              <div class="card">-->
<!--                <div class="card-body">-->
<!--                  <h4 class="card-title">Pay in Direct</h4>-->
<!--                  <form method="post">-->
<!--                      {% csrf_token %}-->
<!--                      <div class="d-grid gap-3 p-4">-->
<!--                          <label class="form-label">Total Value</label>-->
<!--                          <input required class="form-control" readonly value="{{i.amount}}">-->
<!--&lt;!&ndash;                          <label class="form-label">Date</label>&ndash;&gt;-->
<!--&lt;!&ndash;                          <input class="form-control" readonly value="{{s.date}}">&ndash;&gt;-->
<!--&lt;!&ndash;                          <label class="form-label">Start-time</label>&ndash;&gt;-->
<!--&lt;!&ndash;                          <input class="form-control" readonly value="{{s.start_time}}">&ndash;&gt;-->
<!--&lt;!&ndash;                          <label class="form-label">End-time</label>&ndash;&gt;-->
<!--&lt;!&ndash;                          <input class="form-control" readonly value="{{s.end_time}}">&ndash;&gt;-->
<!--                          <div class="d-grid gap-3 d-md-block">-->
<!--                              <button type="submit" class="btn btn-primary">Submit</button>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--{% endblock %}-->